@model ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

@foreach (var product in Model.Products)
{
    <div class="well">
        <h3>
            <strong>@product.Name</strong>
            <span class="pull-right label label-primary">@product.Description</span>
        </h3>
        <span class="lead">@product.Price.ToString("c")</span>
    </div>
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>
