@using SportsStore.Domain.Entities
@model IEnumerable<Product>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

@foreach (var product in Model)
{
    <div>
        <h3>@product.Name</h3>
        @product.Description
        <h4>@product.Price.ToString("c")</h4>
    </div>
}
